/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: "Poppins",sans-serif;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr {
    background-color: #0f4ce4;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #4D4951;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #0f4ce4;
}
.content-table tbody tr.active-row{
    font-weight: bold;
    color: #0f4ce4;
}
